@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.webservices-section{
    background-color:#52606d;
}
.webservices-section-services{
    font-size:26px;
    font-family: "Roboto";
    font-weight: bold;
    color:#cced00;
}
.webservices-section-what-i-do{
    font-size:45px;
    font-family: "Roboto";
    font-weight: bold;
    color:#ffffff;
}
.webservices-section-card-bg-container{
    width:95%;
    border-radius:10px;
    background-color:#323f4b;
}
.webservices-section-card-img{
    height:70px;
    width:70px;
    
}
.webservices-section-card-head{
    font-size:45px;
    font-family: "Roboto";
    font-weight: bold;
    color:#ffffff;
}
.webservices-section-card-para{
    font-size:26px;
    font-family: "Roboto";
    font-weight:100;
    color:#9aa5b1;
}